<html class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" style=""><head><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SMK TELKOM MALANG | The Real Informatics School</title>
    <meta name="description" content="Pelopor SMK bidang Teknologi dan Informatika di Indonesia. Berpengalaman dari tahun 1992 yang telah terakreditasi A">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700">
    <link rel="stylesheet" href="https://www.smktelkom-mlg.sch.id/assets/front/styles/vendor.css">
    <link rel="stylesheet" href="https://www.smktelkom-mlg.sch.id/assets/front/styles/bootstrap.css">
    <link rel="stylesheet" href="https://www.smktelkom-mlg.sch.id/assets/front/styles/main.css">
    <link id="primary_color_scheme" rel="stylesheet" href="https://www.smktelkom-mlg.sch.id/assets/front/styles/theme_meadow.css">
    <link rel="stylesheet" href="https://www.smktelkom-mlg.sch.id/assets/front/styles/themes_panel.css">
    <script src="https://www.smktelkom-mlg.sch.id/assets/front/scripts/vendor/modernizr.js"></script>
	<link rel="shortcut icon" type="image/png" href="https://www.smktelkom-mlg.sch.id/assets/front/img/fav.png">
    <noscript>
      <link rel="stylesheet" href="https://www.smktelkom-mlg.sch.id/assets/front/styles/styleNoJs.css">
    </noscript>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-110550389-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-110550389-2');
    </script>

  <style id="fit-vids-style">.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}</style><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/40/8b/intl/id_ALL/common.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/40/8b/intl/id_ALL/util.js"></script></head>
  <body>
    <!--[if lt IE 9]>
    <p class="browsehappy">You are using an strong outdated browser. <br>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="page">
      <!-- Start Nav Section-->
      <nav id="main-navigation" role="navigation" class="navbar navbar-fixed-top navbar-standard">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle"><i class="fa fa-align-justify fa-lg"></i></button><a href="https://www.smktelkom-mlg.sch.id/" class="navbar-brand"><img src="https://www.smktelkom-mlg.sch.id/assets/front/img/logo_putih.png" alt="" class="logo-white"><img src="https://www.smktelkom-mlg.sch.id/assets/front/img/logo_hitam.png" alt="" class="logo-dark"></a>
          </div>
          <div class="navbar-collapse collapse">
            <button type="button" class="navbar-toggle"><i class="fa fa-close fa-lg"></i></button>
            <ul id="one-page-menu" role="menu" class="nav navbar-nav navbar-right">
              
                      <li><a href="http://www.smktelkom-mlg.sch.id/#profil" title="profil" data-ref="profil">profil</a></li>
                   
                      <li><a href="http://www.smktelkom-mlg.sch.id/#prodi" title="program studi" data-ref="program studi">program studi</a></li>
                   
                      <li><a href="http://www.smktelkom-mlg.sch.id/#testi" title="testimonial" data-ref="testimonial">testimonial</a></li>
                   
                      <li><a href="http://ppdb.smktelkom-mlg.sch.id" title="ppdb" data-ref="ppdb">ppdb</a></li>
                   
                      <li><a href="http://www.smktelkom-mlg.sch.id/#berita" title="berita" data-ref="berita">berita</a></li>
                   
                      <li><a href="http://www.smktelkom-mlg.sch.id/#footer" title="kontak kami" data-ref="kontak kami">kontak kami</a></li>
                               </ul>
          </div>
        </div>
      </nav>

      <!-- content -->

      
      <!-- Start main post-->
      <main role="main" itemscope="" itemtype="http://schema.org/BlogPosting" class="header-section sep-bottom-lg">
        <div style="background-image: url(&quot;https://www.smktelkom-mlg.sch.id/assets/upload/image/thumbs/DSC06067.png&quot;); background-size: 110%; background-position: 63.6012% 31.8006%;" class="parallax">
          <div class="section-shade sep-top-5x sep-bottom-sm">
            <div class="container">
              <div class="row">
                <div role="contentinfo" class="col-md-3 sidebar sep-bottom-xs">
                  <footer class="author-info"><a href="#" itemprop="author" class="post-author-link"><img src="https://www.smktelkom-mlg.sch.id/assets/front/img/team/square/4.jpg" alt="Michelle White" style="width:72px; height:72px;" class="img-circle img-responsive"></a>
                    <div class="author-info-content light">
                      <h6 class="author-name">Admin</h6>
                      <time datetime="2014-06-17T14:28-08:00" itemprop="datePublished" class="small">13 March 2020</time>
                    </div>
                  </footer>
                </div>
                <div class="col-md-9 sep-bottom-xs">
                  <header class="section-title">
                    <h3 itemprop="headline" class="post-title light"><a href="#" rel="bookmark" title="link to this post" itemprop="url" class="light">Doa Bersama Menjelang UNBK 2020/2021 Angkatan 26</a></h3>
                    <time datetime="2009-10-22T14:28-08:00" itemprop="datePublished"></time>
                  </header>
                </div>
              </div>
            </div>
          </div>
        </div>
  <!--       <div class="container">
          <div class="row">
            <div class="col-md-9 col-md-push-3">

              <div itemprop="articleBody" class="post-text sep-top-md">
                <p></p><p style="text-align: left;">Jumat, 13 Maret 2020 telah dilaksanakan doa bersama sebagai bentuk ikhitar dari perjuangan siswa – siswi kelas XII dalam menghadapi Ujian Nasional Berbasis Komputer yang akan dilaksanakan pada Senin – Kamis, 16 – 19 Maret 2020. Acara ini diikuti oleh seluruh warga sekolah SMK Telkom Malang serta beberapa anak yatim dari panti asuhan sekitar. Terdiri dari acara sambutan, pembacaan doa bersama, santunan anak yatim, dan diakhiri dengan ramah tamah siswa kepada guru dan teman ini berjalan dengan lancar dan baik. Semoga Alphabet 26 mampu memberikan prestasi terbaik untuk Moklet</p>
<p style="text-align: center;"><img src="../../../assets/upload/image/DSC06079%20(1).JPG" alt="Doa Bersama(1)" width="500" height="333"></p>
<p style="text-align: justify;">&nbsp;</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="../../../assets/upload/image/image0%20(1).jpeg" alt="Doa Bersama(2)" width="500" height="281"></p><p></p>
              </div>
              
            </div>
           <!--  <aside id="sidebar" role="complementary" class="col-md-3 col-md-pull-9 sep-top-md sidebar">
              <!-- start sidebar-->
              <h5 class="widget-title upper sep-bottom-xs">Berita Terbaru</h5>

              <ul class="widget widget-media rounded sep-bottom-lg">

                
                        <li class="media media-bordered clearfix"><a href="#" class="pull-left"><img src="https://www.smktelkom-mlg.sch.id/assets/upload/image/thumbs/DSC06067.png" alt="" class="media-object img-circle"></a>
                          <div class="media-body">
                            <h6 class="media-heading"><a href="https://www.smktelkom-mlg.sch.id/berita/doa-bersama-menjelang-unbk-20202021-angkatan-26.html">Doa Bersama Menjelang UNBK 2020/2021 Angkatan 26</a></h6><small>13 March 2020</small>
                          </div>
                        </li>

                    
                        <li class="media media-bordered clearfix"><a href="#" class="pull-left"><img src="https://www.smktelkom-mlg.sch.id/assets/upload/image/thumbs/image0_(1)1.png" alt="" class="media-object img-circle"></a>
                          <div class="media-body">
                            <h6 class="media-heading"><a href="https://www.smktelkom-mlg.sch.id/berita/kunjungan-sd-telkom-makassar-ke-smk-telkom-malang.html">Kunjungan SD Telkom Makassar ke SMK Telkom Malang</a></h6><small>13 March 2020</small>
                          </div>
                        </li>

                    
                        <li class="media media-bordered clearfix"><a href="#" class="pull-left"><img src="https://www.smktelkom-mlg.sch.id/assets/upload/image/thumbs/Screen_Shot_2020-02-24_at_19_04_41.jpg" alt="" class="media-object img-circle"></a>
                          <div class="media-body">
                            <h6 class="media-heading"><a href="https://www.smktelkom-mlg.sch.id/berita/hasil-tes-ppdb-20202021-gelombang-2.html">HASIL TES PPDB 2020/2021 GELOMBANG 2</a></h6><small>24 February 2020</small>
                          </div>
                        </li>

                    
                        <li class="media media-bordered clearfix"><a href="#" class="pull-left"><img src="https://www.smktelkom-mlg.sch.id/assets/upload/image/thumbs/Screen_Shot_2019-12-13_at_06_59_08.jpg" alt="" class="media-object img-circle"></a>
                          <div class="media-body">
                            <h6 class="media-heading"><a href="https://www.smktelkom-mlg.sch.id/berita/pengumuman-lolos-ppdb-20202021-gel-1.html">Pengumuman Lolos PPDB 2020/2021 Gel 1</a></h6><small>13 December 2019</small>
                          </div>
                        </li>

                    
                        <li class="media media-bordered clearfix"><a href="#" class="pull-left"><img src="https://www.smktelkom-mlg.sch.id/assets/upload/image/thumbs/Screen_Shot_2019-12-01_at_22_59_11.jpg" alt="" class="media-object img-circle"></a>
                          <div class="media-body">
                            <h6 class="media-heading"><a href="https://www.smktelkom-mlg.sch.id/berita/pembagian-ruang-dan-alur-tes-ppdb-2020-gel-1.html">Pembagian Ruang dan Alur Tes PPDB 2020 Gel 1</a></h6><small>01 December 2019</small>
                          </div>
                        </li>

                                    

              </ul>
           <!--    <h5 class="widget-title upper sep-bottom-xs">Kategori</h5>
              <ul class="widget widget-cat">
                
                      <li class="cat-item"><a href="https://www.smktelkom-mlg.sch.id/kategori/profil-sekolah" class="upper">Profil Sekolah</a></li>
                    
                      <li class="cat-item"><a href="https://www.smktelkom-mlg.sch.id/kategori/lomba" class="upper">Lomba</a></li>
                    
                      <li class="cat-item"><a href="https://www.smktelkom-mlg.sch.id/kategori/agenda-sekolah" class="upper">Agenda Sekolah</a></li>
                    
                      <li class="cat-item"><a href="https://www.smktelkom-mlg.sch.id/kategori/pengumuman" class="upper">Pengumuman</a></li>
                                  </ul> -->
              <!-- end sidebar-->
            </aside> -->
          </div>
        </div> -->
      </main>
      <!-- End main post-->

      <!-- Sidebar -->
      <div class="container-fluid" style="background: url(http://www.llumac.cat/iconpics/f/7/79995/green-png.png);
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;">
          <!--            <div class="sep-bottom-2x">-->
          <!--              <ul class="pager">-->
          <!--                <li class="previous hidden-xs"><a href="#"><i class="fa fa-arrow-left"></i>&nbsp;Older</a></li>-->
          <!--                <li class="next disabled hidden-xs"><a href="#">Newer&nbsp;<i class="fa fa-arrow-right"></i></a></li>-->
          <!--              </ul>-->
          <!--            </div>-->
      </div>
      <!-- end sidebar -->

      <!-- Start call to action section-->
<!--      <section class="call-to-action bg-primary sep-top-md sep-bottom-md">-->
<!--        <div class="container">-->
<!--          <div class="row">-->
<!--            <div class="col-md-9">-->
<!--              <h5 class="action-title upper light">HAVE AN IDEA? WE’RE HERE TO HELP YOU MANAGE YOUR WORK</h5>-->
<!--            </div>-->
<!--            <div class="col-md-3 text-right"><a href="contact-us.html" class="btn btn-light btn-bordered btn-lg">Contact us</a></div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </section>-->
      <!-- End call to action section-->
      <!-- Start Footer section-->
      <footer id="footer">
        <div class="inner sep-bottom-md">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="widget sep-top-lg"><img src="" alt="" class="logo"><small class="sep-top-xs sep-bottom-md">
                     SMP NEGERI 3 MARGAHAYU 
                 <br>Kabupaten Bandung   
                </small>
                  <h6 class="upper widget-title">Media Sosial</h6>
                  <ul class="social-icon sep-top-xs">
                    <li><a href="#" class="fa fa-instagram fa-lg"></a></li>
                    <li><a href="#" class="fa fa-twitter fa-lg"></a></li>
                    <li><a href="#" class="fa fa-facebook fa-lg"></a></li>
                    <li><a href="#" class="fa fa-google-plus fa-lg"></a></li>
                  </ul>
                </div>
              </div>
        <!--       <div class="col-md-3 col-sm-6">
                <div class="widget sep-top-lg">
                  <h6 class="upper widget-title">Berita Terbaru</h6>
                  <ul class="widget-post sep-top-xs">
                    
                          <li>
                            <span class="date-post">13<small class="upper">Mar</small></span>
                            <a href="https://www.smktelkom-mlg.sch.id/berita/doa-bersama-menjelang-unbk-20202021-angkatan-26.html" class="title-post">Doa Bersama Menjelang UNBK 2020/2021 Angkatan 26</a>
                          </li>
                        
                          <li>
                            <span class="date-post">13<small class="upper">Mar</small></span>
                            <a href="https://www.smktelkom-mlg.sch.id/berita/kunjungan-sd-telkom-makassar-ke-smk-telkom-malang.html" class="title-post">Kunjungan SD Telkom Makassar ke SMK Telkom Malang</a>
                          </li>
                        
                          <li>
                            <span class="date-post">24<small class="upper">Feb</small></span>
                            <a href="https://www.smktelkom-mlg.sch.id/berita/hasil-tes-ppdb-20202021-gelombang-2.html" class="title-post">HASIL TES PPDB 2020/2021 GELOMBANG 2</a>
                          </li>
                        
                          <li>
                            <span class="date-post">13<small class="upper">Dec</small></span>
                            <a href="https://www.smktelkom-mlg.sch.id/berita/pengumuman-lolos-ppdb-20202021-gel-1.html" class="title-post">Pengumuman Lolos PPDB 2020/2021 Gel 1</a>
                          </li>
                        
                          <li>
                            <span class="date-post">01<small class="upper">Dec</small></span>
                            <a href="https://www.smktelkom-mlg.sch.id/berita/pembagian-ruang-dan-alur-tes-ppdb-2020-gel-1.html" class="title-post">Pembagian Ruang dan Alur Tes PPDB 2020 Gel 1</a>
                          </li>
                                          </ul>
                </div>
              </div> -->
              <div class="col-md-3 col-sm-6">
                <div class="widget sep-top-lg">
                  <h6 class="upper widget-title">Alamat Sekolah</h6>
                  <ul class="widget-address sep-top-xs">
                    <li><i class="fa fa-map-marker fa-lg"></i><small>Jalan Sadang No. 184<br>Kabupaten Bandung</small></li>
                    <li><i class="fa fa-phone fa-lg"></i><small> (022) 5412937 </small></li>
                    <li><i class="fa fa-envelope fa-lg"></i><small><a href="#">smpn3_margahayu@yahoo.co.id</a></small></li>
                   
                  </ul>
                </div>
              </div>
            <!--   <div class="col-md-3 col-sm-6">
                <div class="widget sep-top-lg">
                  <h6 class="upper widget-title">Instagram Photostream</h6>
                  <div class="flickr_container sep-top-xs">
                    <div id="flickr_badge_image1" class="flickr_badge_image"><a href="http://www.flickr.com/photos/we-are-envato/14983708011/"><img width="75" height="75" title="Collis does the ice bucket challenge" alt="Una foto su Flickr" src="http://farm4.staticflickr.com/3923/14983708011_6bcbba0e2c_s.jpg"></a></div>
                    <div id="flickr_badge_image2" class="flickr_badge_image"><a href="http://www.flickr.com/photos/we-are-envato/14596923138/"><img width="75" height="75" title="Justin 05" alt="Una foto su Flickr" src="http://farm6.staticflickr.com/5555/14596923138_d4d46d271c_s.jpg"></a></div>
                    <div id="flickr_badge_image3" class="flickr_badge_image"><a href="http://www.flickr.com/photos/we-are-envato/14760569666/"><img width="75" height="75" title="Justin 04" alt="Una foto su Flickr" src="http://farm4.staticflickr.com/3909/14760569666_7c6c02da27_s.jpg"></a></div>
                    <div id="flickr_badge_image4" class="flickr_badge_image"><a href="http://www.flickr.com/photos/we-are-envato/14783568265/"><img width="75" height="75" title="Justin 03" alt="Una foto su Flickr" src="http://farm6.staticflickr.com/5590/14783568265_90657d440f_s.jpg"></a></div>
                    <div id="flickr_badge_image5" class="flickr_badge_image"><a href="http://www.flickr.com/photos/we-are-envato/14781214704/"><img width="75" height="75" title="Justin 01" alt="Una foto su Flickr" src="http://farm3.staticflickr.com/2925/14781214704_955df76638_s.jpg"></a></div>
                    <div id="flickr_badge_image6" class="flickr_badge_image"><a href="http://www.flickr.com/photos/we-are-envato/14471910420/"><img width="75" height="75" title="Envato Live" alt="Una foto su Flickr" src="http://farm6.staticflickr.com/5548/14471910420_cf12dd0a16_s.jpg"></a></div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="copyright sep-top-xs sep-bottom-xs">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <small>Copyright 2020 © SMPN 3 MARGAHAYU. All rights reserved.</small>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- End Footer section-->
      <div id="back_to_top" style="display: none;"><a href="#" class="fa fa-arrow-up fa-lg"></a></div>
    </div>

<!--     <div id="modal_pengumuman" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title text-center">PENGUMUMAN</h4>
          </div>
          <div class="modal-body">

          	<center><h4>HASIL TES PPDB 2020/2021 GELOMBANG 2</h4></center>
          	<br>
			<p>Berikut adalah hasil pengumuman kelulusan tes PPDB Gelombang 2<br>
			Panitia PPDB SMK Telkom Malang mengucapkan selamat bagi siswa yang LULUS seleksi tes gelombang 2 PPDB SMK Telkom Malang dan<br>
			silahkan melakukan daftar ulang sesuai jadwal (25-27 Februari 2020).
      <br><br>
      Bagi siswa yang <b>BELUM LULUS</b>, berkesempatan untuk masuk SMK Telkom Sidoarjo Jalur Rekomendasi Tanpa Tes dengan mengisi biodata pada link berikut: <br>
      <a href="http://bit.ly/RekomendasiMalang" target="_blank"><b>http://bit.ly/RekomendasiMalang</b></a>

      <br><br><br>
			<b>TTD Panitia PPDB SMK Telkom Malang</b>

          	<br>
          	</p><center><a href="https://ppdb.smktelkom-mlg.sch.id/files/SK_Pengumuman_PPDB_20_21_Gel_2.pdf" class="btn btn-success" target="_blank">UNDUH</a></center>
          </div>
        </div>

      </div>
    </div> -->

<!--     <script src="https://www.smktelkom-mlg.sch.id/assets/front/scripts/vendor/vendor.js"></script>
    <script src="https://www.smktelkom-mlg.sch.id/assets/front/scripts/vendor/bootstrap.js"></script>
    <script src="https://www.smktelkom-mlg.sch.id/assets/front/scripts/vendor/bootstrap-extend.js"></script>
    <script src="https://www.smktelkom-mlg.sch.id/assets/front/scripts/main.js"></script>

   -->    

</body></html>